/* CSS Reset  */
*{ margin: 0;
    padding: 0;
 }
 body,html {
  height: 200%;
}
 html{
     scroll-behavior:smooth;
 }
 :root{
     --navbar-height:59px;
 }
 /* Navigation Bar: */
 #navbar{
     display:flex;
     align-items:center;
     position:sticky; 
     top:0px;
    justify-content:space-between;
    z-index:9999;
 }
 /* Navigation Bar: Logo and Image: */
#logo{
    margin:10px 34 px;
}
#logo img{
    height:59px;
    margin:3px 6px;

}

 /* Navigation Bar: List Styling: */
 #navbar ul{
     display:flex;
     font-family: 'Bree Serif', serif;
    text-align:right;
 }
 #navbar::before{
    content:'';
    background-color:black;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.6;
}
 #navbar ul li{
     list-style: none;
     font-size:1.3rem;
     display:inline-block;
 }
 #navbar ul li a{
     color:white;
     display:block;
     padding:3px 22px;
     border-radius:20px;
     text-decoration:none;
     
 }
 #navbar ul li a:hover{
    color:black;
    background-color:white;
    
}
/* Home Section */
#home{
    display:flex;
    flex-direction:column;
    padding: 3px 200px;
    height:520px;
    justify-content:center;
    align-items:center;
}
#home::before{
    content:'';
    background: url('../images/img5.jpg') no-repeat center center/cover;
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    z-index:-1;
    opacity:0.95;
    padding-top: 50px;
   
}
#home h1{
    color:white;
    text-align:center;
    font-family: 'Bree Serif', serif;
    
}
#home p{
    color:white;
    text-align:center;
    font-size:1.5rem;
    font-family: 'Bree Serif', serif;
}
.donate-text{
    position:absolute;
    top:25%;
    left:62%;
}
/* About Section  */
#about{
    position:relative;
    height:118vh;
}
#about::before{
    content:'';
    background: url('../images/img4.jpg') no-repeat center center/cover;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.5;
    min-height:100vh;
    padding-right:10px;
}
.about-content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.content-box{
  padding: 30px;
  
}
#about p{
  color:black;
  text-align:center;
  font-size:1.3rem;
  font-family: 'Bree Serif', serif;
}
.con1{
    float: right;
  padding-top: 50px;
  padding-bottom:20px;
  padding-right: 50px;
}
/* Services Section */
#services{
    margin:34px;
    display:flex;
}
#services .box{
    border:2px solid brown;
    padding:34px;
    margin:2px 6px;
    border-radius:28px;
    background:#f2f2f2;
    margin-bottom:20px;
    justify-content:center;
    align-items:center;
    flex: 0 0 33%;
    
}
#services .box img{
    height: 120px;
    margin:auto;
    display:block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
footer{
    background:black;
    color:white;
    padding:9px 20px;
}

/* Utility Classes */
.h-nav{
  font-size:1.2rem;
  font-family: 'Bree Serif', serif;
  color:white;
  border-radius:20px;
  text-decoration:none;
     
}
  .h-primary{
    font-size:3.8rem;
    padding:12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size:2.3rem;
    padding:12px;
    font-family: 'Bree Serif', serif;
    justify-content:center;
    align-items:center;
    display:block;
    margin:auto;
}
.btn{
    padding:6px 15px;
    border:2px solid white;
    background-color:black;
    color:white;
    margin:17px;
    font-size:1.5rem;
    border-radius:10px;
    cursor:pointer;
}
.center{
    text-align:center;
}
/* Socials Section */ 

.social{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
  border-top: 1px solid #eee;
  margin-top: 50px;
}
.social a{
  font-size: 22px;
  width: 45px;
  height: 45px;
  line-height: 39px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #05ff05;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  margin: 10px;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.social a:hover{
  opacity: 0.9;
  box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}
@media (max-width: 767px) {
    .social{
      margin: 0 auto;
    }
} 









  